
<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button 
                (click)="sidenav.toggle()"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <a routerLink="./list" mat-list-item
                (click)="sidenav.toggle()"
            >
                <mat-icon mat-list-icon>label</mat-icon>
                <span>Lista de héroes</span>
            </a>
            <a routerLink="./add" mat-list-item
                (click)="sidenav.toggle()"
            >
                <mat-icon mat-list-icon>add</mat-icon>
                <span>Agregar heroe</span>
            </a>
            <a routerLink="./searc" mat-list-item
                (click)="sidenav.toggle()"
            >
                <mat-icon mat-list-icon>searc</mat-icon>
                <span>Buscar héroes</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button 
            (click)="sidenav.toggle()"
        >
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-icon-button>
            <mat-icon>logout</mat-icon>
            <span></span>
        </button>
    </mat-toolbar>

    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
