<div fxLayout="column" class="animate__animated animate__fadeIn">
    <div>
        <h1>Buscador de héroes</h1>
        <mat-divider></mat-divider>
    </div>
    <div fxLayout="column">
        <h3>Buscador</h3>
        <mat-form-field>
            <input type="text" 
                placeholder="Busca un héroe" 
                aria-label="Text" 
                matInput 
                [(ngModel)]="term" 
                [matAutocomplete]="auto"
                (input)="search()"
            >
            <mat-autocomplete autoActiveFirstOption 
                #auto="matAutocomplete"
                (optionSelected)="selected( $event )"    
            >
                <mat-option *ngFor="let hero of heros" [value]="hero">
                    {{hero.superhero}}
                </mat-option>
                <mat-option *ngIf="heros.length === 0 && term.trim().length > 0" [value]="">
                    No se encontraron resultados para "{{ term }}"
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</div>

<div>
    <pre>
        {{ selectedHero | json }}
    </pre>
</div>
